<header>
  <button type="button" (click)="changeMonth(-1)">Anterior ({{ prevMonthName }})</button>
  <h1>{{ currentMonthName }} de {{ currentYear }}</h1>
  <button type="button" (click)="changeMonth(+1)">Próximo ({{ nextMonthName }})</button>
</header>
<table *ngIf="birthDays$ | async as birthDays">
  <thead>
    <tr>
      <th>Domingo</th>
      <th>Segunda-feira</th>
      <th>Terça-feira</th>
      <th>Quarta-feira</th>
      <th>Quinta-feira</th>
      <th>Sexta-feira</th>
      <th>Sábado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let week of weeks">
      <td *ngFor="let day of week.days">
        <span class="day-badge">
          {{ day }}
        </span>
        <app-birthday-counter-of-the-day [day]="day" [month]="currentMonth + 1"
          [birthDays]="birthDays"></app-birthday-counter-of-the-day>
      </td>
    </tr>
  </tbody>
</table>